 :root{
    --primary-text-color:#434455;
    --secondary-text-color: #2E2F42;
    --primary-logo-color:#4D5AE5;
    --accent-color:#404BBF;
    --contact-text-color:#434455;
    --bg-color:#FFFFFF;
    --bg-hero:#2E2F42;
    --hero-titlle-color:#FFFFFF;
    --bg-button: #4D5AE5;
    --bg-team:#F4F4FD; 
    --logo-footer: #F4F4FD;
 } 
body{
    font-family: 'Roboto', sans-serif;
    color:var(--primary-text-color);
    background-color:var(--bg-color);
}
.link{
    text-decoration: none;
}
.list{
    list-style: none;
}
.logo {
 font-family: 'Raleway',sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-logo-color);
}
.logo-header {
    color: var(--secondary-text-color);

}

.nav-link {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--secondary-text-color);

}
.nav-link:hover,
.nav-link:focus{
    color:var(--accent-color);
}

.address {
    font-style: normal;

}
.contact-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--contact-text-color);

}
.contact-link:hover,
.contact-link:focus{
    color:var(--accent-color);
}

.hero {
   background-color: var(--bg-hero);
}
.hero-tittle {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color:var(--hero-titlle-color);
}
.hero-btn {
    font-family: 'Roboto',sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: var(--bg-button);
color: var(--hero-titlle-color);
cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus{
    background-color: var(--accent-color);
}

.feature-title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;

color:var(--secondary-text-color);

}
.feature-text {
 
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--primary-text-color);

}
.section-title{
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

color:var(--secondary-text-color);

}
.team{
    background-color: var(--bg-team);

}
.team-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color:var(--secondary-text-color);

}
.team-desc {
   
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;


color: var(--primary-text-color);

}
.team-item{
    background-color: var(--bg-color);
}

.footer {
    background-color: var(--bg-hero);
}

.logo-footer {
    color: var(--logo-footer);
}
.footer-desc { 
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--logo-footer);
}
.portfolio-btn{
    font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color:var(--bg-button);
cursor: pointer;
 background-color:var(--bg-team) ;

}
.portfolio-btn:hover,
.portfolio-btn:focus{
    color: var(--hero-titlle-color);
    background-color: var(--accent-color);
}
.portfolio-title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--secondary-text-color);

}
.portfolio-desc {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--primary-text-color);

}